## operadores aritméticos ejercicio 1

In [27]:
tierra = 149597870 
jupiter= 778547200

In [28]:
distance_km = (jupiter - tierra)
print(distance_km)

628949330

In [31]:
distance_mi = distance_km * 0.621
print(round(distance_mi))

390577534

# ejercicio 2

In [1]:
# Convierte las cadenas de ambos planetas a números enteros
tierra = input("introduzca la distancia del sol para el primer planeta en km" )

In [2]:
jupiter = input("introduzca la distancia desde el sol para el segundo planeta en km" )

In [3]:
tierra = int(tierra)
jupiter = int(jupiter)
print(tierra)
print(jupiter)

1495977870
778547200

In [7]:
# Realizar el cálculo y determinar el valor absoluto
distance_km = tierra - jupiter
print(abs(distance_km))

717430670

In [8]:
#convertir de km a millas 
distance_mi = distance_km * 0.621
print(distance_mi)

445524446.07