# ejercicio 1

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [19]:
text_division = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text_division .split(".")

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [20]:
# claves : average, temperatura, distancia.
key_words = ["average", "temperature" , "distance"]

In [22]:
# ciclo for para recorrer cadena 

text_division = text .split(".")
for sentence in text_division: 
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [24]:
# ciclo para cambiar C a Celsius
text_division = text .split(".")
for sentence in text_division:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

# Ejercicio 2

In [69]:
# datos 
name = "Moon"
gravity = 0.00162 # in kms 
planet = "Earth"

In [71]:
# creamos el título
heading =f"la gravedad en la {name}"

In [76]:
# crear plantlla de cadena multilinea

facts = f"""{"_"*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

In [73]:
# Unión de ambas cadenas 
facts = f""""{"-"*20}
nombre del planeta = {planet}
gravity en {planet} : {gravity*1000} m/s2
"""

In [77]:
#Unión de cadenas 

all = f"""{heading.title()}
{facts}
"""
print(all)

La Gravedad En La Moon
________________________________________________________________________________
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [79]:
# Nuevos datos 
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [80]:
# comprueba la plantilla 
print(facts)

________________________________________________________________________________
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [82]:
# Nueva plantilla 
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [83]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2